/************************* General *****************************/
/************************* General *****************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.activites-card img {
    object-fit: cover;
}

/* ------------------------------  header ------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 30px;
}

 #logo {
    width: 61px;
    height: 19px;
    margin: 30px 50px;
}

#navbar {
    margin: 0 50px;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 68px;
}

#navbar ul li {
    margin-top: 16px;
}

#navbar ul li a {
    width: 100%;
    height: 35px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
}

#navbar ul li a:hover {
    color: var (--main-color);
    border-top: 2px solid var(--main-color);
}

/*---------------------------------Main======Search--------------------------*/
.search-filters p {
    padding-top: 8px;
}

.searchbar {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.searchbar p {
    font-size: 18px;
    font-weight: 700;
}

.searchbar input {
    width: 195px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    background-color: #FFFFFF;
    padding: 24px;
    box-sizing: border-box;
}

input::placeholder {
    color: #000000;
}

.searchbar button {
    color: #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: hidden;
    width: 132px;
    height: 49px;
    padding: 15px 16px;
}

.searchbar .icon {
    display: none;
}

.fa-location-dot {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    font-size: 16px;
    text-align: center;
    line-height: 49px;
    border-radius: 15px 0 0 15px;
}

.searchbar .fa-solid {
    color: #000000;
    align-items: center;
}

/*--------Filtre---------Filtre--------Filtre------*/

.filterbar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.filterbar p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 0;
}

.filterbar button {
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    padding: 4px 19px;
    margin-left: 15px;
}

.filterbar button:hover {
    background-color: #DEEBFF;
}

.filters .fa-solid {
    width: 22px;
    height: 22px;
    padding-right: 10px;
    font-size: 15px;
}

.infobar .fa-solid {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 60px;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
}

.infobar p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

/************** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/******************* Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.hebergements-cards .card {
    width: 30%;
    margin-top: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-title {
    margin-top: 4px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-rating {
    padding-top: 8px;
}

.more {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

/******Populaires********** Populaires **********Populaires*************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* -------Section Activites------Section Activites--- */
.activites {
    padding: 30px;
}

.activites-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activites-card {
    width: 30%;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activites-card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-card .section-title {
    margin: 30px;
}

.activites-card .card-title {
    padding: 20px 19px;
}

/* --------footer------footer--------footer------ */
footer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

footer div {
    width: 100%;
    padding: 5px 20px 20px 20px;
}

footer li {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

footer .important {
    font-size: 18px;
    font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .filterbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-title {
        font-size: 18px;
        line-height: 19px !important;
        margin-bottom: 20px;
    }

    .filters button {
        font-size: 17px;
        margin-left: 0;
        margin-right: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-card .card {
        width: 30%;
    }

   .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
        display: flex;
        justify-content: space-between;
    }

    .activites-card img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }

    header img {
        margin: 30px !important;
    }

    #navbar {
        width: 100%;
    }

    #navbar ul {
        width: 100%;
        gap: 0;
        text-align: center;
        height: 19px;
    }

    #navbar ul li {
        width: 50%;
        display: flex;
        align-items: center;
    }

    #navbar ul li a {
        padding-top: 0;
        padding-bottom: 15px;
    }

    #navbar ul li a:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;
    }

    .search-filters,
    .infobar {
        padding: 0 20px;
    }

    .searchbar input {
        width: 100%;
    }

    .searchbar button {
        width: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 15px 16px;
    }

    .searchbar .icon {
        display: block;
        color: #FFFFFF;
        width: 17px;
        height: 17px;
    }

    .searchbar span {
        display: none;
    }

    .filterbar {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .filters button {
        margin: 0;
        width: 47%;
        margin-top: 20px;
        font-size: 14px;
        text-align: left;
    }
    
    .filter-title {
        line-height: 19px !important;
    }

    .filters button:nth-child(1) {
        margin-right: 10px;
    }

    .filters button:nth-child(3) {
        margin-right: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin: 0;
    }

    .populaires {
        border-radius: 0 !important;
        width: 100%;
        padding: 30px 20px !important;
        margin-top: 35px;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 15px;
    }
    
    .populaires-cards .card img {
        width: 112px;
        height: 146px;
    }
    .hebergements {
        width: 100%;
        background-color: #FFFFFF !important;
        padding: 20px !important;
        margin-top: 15px;
    }

    .hebergements-cards {
        flex-direction: column; 
        margin-bottom: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
        margin-top: 15px;
    }

    .hebergements-cards .card:nth-child(1) {
        order: 1;
    }

    .hebergements-cards .card:nth-child(2) {
        order: 6;
    }

    .hebergements-cards .card:nth-child(3) {
        order: 3;
    }

    .hebergements-cards .card:nth-child(4) {
        order: 4;
    }

    .hebergements-cards .card:nth-child(5) {
        order: 2;
    }

    .hebergements-cards .card:nth-child(6) {
        order: 5;
    }

    .activites {
        margin-top: 35px;
    }
    
    .activites .section-title {
        padding-bottom: 30px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 0;
    }

    .activites-card {
        width: 100%;
    }

    .activites-card img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        gap: 35px;
        padding: 15px 30px 30px 30px;
    }

    footer div {
        margin: 0;
        padding: 0;
    } 
}